{# templates/create.html.twig #}
{% extends 'base.html.twig' %}

{# {% form_theme form 'bootstrap_4_layout.html.twig' %} #}
   
{% block body %}

<div class="container pt-5">
<h1>Créer un nouvel évènement</h1>
    {{ form_start(form, {
        'attr': { 'novalidate': 'novalidate' }
    }) }}

        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_row(form.capacity) }}
        {{ form_row(form.start_at) }}
        {{ form_row(form.end_at) }}
        {{ form_row(form.price) }}
        {{ form_row(form.posterFile) }}
        {{ form_row(form.posterURL) }}
        {{ form_row(form.category) }}
        {{ form_row(form.place) }}
        
        
      
        <button type="submit">Ajouter un évènement</button>
        
    {{ form_end(form) }}

</div>
    {# <div class="container pt-5">

        <h1>Creer un évènement</h1>

        <form action="#" method="post" enctype="multipart/form-data">
            <div class="form-group">
              <label for="name">{{ form_row(form.poster) }}</label>
              <input type="name" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Enter le nom">
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Example textarea</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="form-group">
              <label for="address">Nom de l'évènement</label>
              <input type="address" class="form-control" id="address" aria-describedby="addressHelp" placeholder="Enter l'adresse">
            </div>
            <button type="submit" class="btn btn-primary">Ajouter l'évènement</button>
        </form>

        <div class="container pt-5">
            <p><a href="{{ path('event_list') }}">Voir la liste des évènements</a></p>
        </div>

        {% block content %}{% endblock %}
    </div> #}
{% endblock %}
   