{# templates/join.html.twig #}
{% extends 'base.html.twig' %}

   
{% block body %}

    <div class="container pt-5">
    <h1>Page d'inscrition</h1>
        {{ form_start(form, {
            'attr': { 'novalidate': 'novalidate' }
        }) }}

            {{ form_row(form.username) }}
            {{ form_row(form.email) }}
            {{ form_row(form.password) }}
            {{ form_row(form.zip) }}
            {{ form_row(form.birthdate) }}
            {{ form_row(form.country) }}
  
      <button type="submit">Ajouter un évènement</button>
        
    {{ form_end(form) }}

</div>
    {# <div class="container pt-5">

        <h1>Creer un évènement</h1>

        <form>
            <div class="form-group">
              <label for="name">{{ form_row(form.poster) }}</label>
              <input type="name" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Enter le nom">
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Example textarea</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="form-group">
              <label for="address">Nom de l'évènement</label>
              <input type="address" class="form-control" id="address" aria-describedby="addressHelp" placeholder="Enter l'adresse">
            </div>
            <button type="submit" class="btn btn-primary">Ajouter l'évènement</button>
        </form>

        <div class="container pt-5">
            <p><a href="{{ path('event_list') }}">Voir la liste des évènements</a></p>
        </div>

        {% block content %}{% endblock %}
    </div> #}

   

        {# <h1>Rejoindre un évènement</h1>

        <form action="{{ path('login') }}" method="post">
            <div class="form-group">
              <label for="username">Nom d'utilisateur :</label>
              <input type="username" class="form-control" id="email" placeholder="Enter username" name="_username" value="{{ lastUsername }}">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Password" name="_password" >
            </div>
            <button type="submit" class="btn btn-primary">Rejoindre l'évènement</button>
        </form>


        <div class="container pt-5">
            <p><a href="{{ path('event_list') }}">Voir la liste des évènements</a></p>
        </div> #}

        {% block content %}{% endblock %}
    </div>
{% endblock %}
   