{# templates/show.html.twig #}
{% extends 'base.html.twig' %}

   
{% block body %}


    <div class="container pt-5">

        <h2>
            {{ event.name }}
            {% if event.startAt > date() %}
                <span class="badge badge-info ml-1">À venir</span>
            {% elseif event.endAt < date() %}
                <span class="badge badge-secondary ml-1">Passé</span>
            {% else %}
                <span class="badge badge-success ml-1">En cours</span>
            {% endif %}
        </h2>
        <div class="row">
            <div class="col">
                <img class="img-fluid" src="{{ event.poster }}" alt="">
    
                <a class="btn btn-primary mt-2 btn-block {% if event.endAt < date() %}disabled{% endif %}"
                    href="{{ path('event_join', { 'id': event.id }) }}">
                    Rejoindre
                </a>
    
            </div>
            <div class="col">
                <p>{{ event.description }}</p>
                <address class="">
                    {{ event.place.address ? event.place.address ~ '<br>' : '' }}
                    {{ event.place.zipCode }} {{ event.place.city }},
                    {{ event.place.country }}
                </address>
                <p>Organisé par : {{ event.owner.username }}
                <p>Nombre de participants maximum : {{ event.capacity }}</p>
                <p>Début : {{ event.startAt|date('j F Y à H\\hi')}}</p>
                <p>
                    Fin :
                {% if event.startAt|date('Ymd') != event.endAt|date('Ymd') %}
                    {{ event.endAt|date('j F Y à H\\hi')}}
                {% else %}
                    {{ event.endAt|date('H\\hi')}}
                {% endif %}
                </p>
                <p>
                    <span class="badge badge-success">{{ event.price ? event.price ~ '€' : 'Gratuit' }}</span>
                </p>
            </div>
        </div>


        {# <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Adresse</th>
                    <th scope="col">CP</th>
                    <th scope="col">Ville</th>
                    <th scope="col">Country</th>
                    <th scope="col">Description</th>
                    <th scope="col">Capacité d'accueil</th>
                    <th scope="col">Début</th>
                    <th scope="col">Fin</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Owner</th>
                    <th scope="col">Poster</th>
                    <th scope="col">Rejoindre l'évènement</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ event.id }}</td>
                    <td>{{ event.name }}
                        
                        {% if event.startAt > date()  %}
                        <span class="event-status badge badge-success"> A venir</span>
                        {% elseif event.endAt < date()  %}
                         <span class="event-status badge badge-danger"> Passé</span>
                        {% else %} 
                        <span class="event-status badge badge-primary">    En cours </span>
                        {% endif %}

                        </span>
                    </td>
                    <td>{{ event.address }}</td>
                    <td>{{ event.zip }}</td>
                    <td>{{ event.city }}</td>
                    <td>{{ event.country }}</td>
                    <td>{{ event.description }}</td>
                    <td>{{ event.capacity }}</td>
                    <td>{{ event.startAt|date('j F Y à H:i:s') }}
                        
                    </td>
                    <td> 
                        {% if (event.startAt|date('Ymd') != event.endAt|date('Ymd')) %}
                         {{ event.endAt|date('j F Y à H:i:s') }}
                        {% else %}
                          {{ event.endAt|date('H\hi') }}
                        {% endif %}

                    </td>
                    <td>
                        <span class="badge badge-success">{{ event.price  ? event.price ~ '€' : Gratuit }}</span>
                        
                    
                    </td>
                    <td>{{ event.owner }}</td>
                    <td class="poster" style="background-image: url('{{ event.poster }}')"</td>
                    <td><a type="button" class="btn btn-success btn-block {% if event.endAt < date() %} disabled {% endif %}" href="{{ path('event_join', { 'id':event.id }) }}">Rejoindre l'évènement</a></td>
                </tr>
            </tbody>
        </table> #}
    </div>
    <div class="container">
        <p><a href="{{ path('event_list') }}">Voir la liste des évènements</a></p>
    </div>

{% endblock %}
   

    